In [33]:
import pandas as pd
import numpy as np

df = pd.read_csv('premier-player-23-24.csv')

display(df)

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast_90,G+A_90,G-PK_90,G+A-PK_90,xG_90,xAG_90,xG+xAG_90,npxG_90,npxG+xAG_90,Team
0,Rodri,es ESP,MF,27.0,34,34,2931.0,32.6,8.0,9.0,...,0.28,0.52,0.25,0.52,0.12,0.12,0.24,0.12,0.24,Manchester City
1,Phil Foden,eng ENG,"FW,MF",23.0,35,33,2857.0,31.7,19.0,8.0,...,0.25,0.85,0.60,0.85,0.33,0.26,0.59,0.33,0.59,Manchester City
2,Ederson,br BRA,GK,29.0,33,33,2785.0,30.9,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Manchester City
3,Julián Álvarez,ar ARG,"MF,FW",23.0,36,31,2647.0,29.4,11.0,8.0,...,0.27,0.65,0.31,0.58,0.44,0.22,0.66,0.39,0.61,Manchester City
4,Kyle Walker,eng ENG,DF,33.0,32,30,2767.0,30.7,0.0,4.0,...,0.13,0.13,0.00,0.13,0.01,0.09,0.10,0.01,0.10,Manchester City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,Sam Curtis,ie IRL,DF,17.0,1,0,28.0,0.3,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Sheffield United
576,Daniel Jebbison,eng ENG,FW,19.0,1,0,21.0,0.2,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Sheffield United
577,Antwoine Hackford,eng ENG,FW,19.0,2,0,13.0,0.1,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Sheffield United
578,Sydie Peck,eng ENG,MF,18.0,1,0,10.0,0.1,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Sheffield United
579,Ryan One,sct SCO,FW,17.0,1,0,8.0,0.1,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Sheffield United

In [34]:
top_scorers = df[['Player','Gls', 'Pos']]
top_scorers = top_scorers.sort_values(by='Gls', ascending=False).head(10)

display(top_scorers)

              Player   Gls    Pos
6     Erling Haaland  27.0     FW
83       Cole Palmer  22.0  FW,MF
117   Alexander Isak  21.0     FW
1         Phil Foden  19.0  FW,MF
204    Ollie Watkins  19.0     FW
369  Dominic Solanke  19.0     FW
28     Mohamed Salah  18.0     FW
146    Son Heung-min  17.0     FW
237     Jarrod Bowen  16.0     FW
59       Bukayo Saka  16.0     FW

In [35]:
top_assists = df[['Player','Ast', 'Pos']]
top_assists = top_assists.sort_values(by='Ast', ascending=False).head(10)

display(top_assists)

                 Player   Ast    Pos
204       Ollie Watkins  13.0     FW
83          Cole Palmer  11.0  FW,MF
154     Brennan Johnson  10.0     FW
13      Kevin De Bruyne  10.0     MF
453  Morgan Gibbs-White  10.0  MF,FW
114      Anthony Gordon  10.0     FW
118     Kieran Trippier  10.0     DF
28        Mohamed Salah  10.0     FW
146       Son Heung-min  10.0     FW
338         Pascal Groß  10.0  MF,DF

In [36]:
top_goal_participations = df[['Player','G+A', 'Pos']]
top_goal_participations = top_goal_participations.sort_values(by='G+A', ascending=False).head(10)

display(top_goal_participations)

              Player   G+A    Pos
83       Cole Palmer  33.0  FW,MF
6     Erling Haaland  32.0     FW
204    Ollie Watkins  32.0     FW
28     Mohamed Salah  28.0     FW
146    Son Heung-min  27.0     FW
1         Phil Foden  27.0  FW,MF
59       Bukayo Saka  25.0     FW
117   Alexander Isak  23.0     FW
369  Dominic Solanke  22.0     FW
237     Jarrod Bowen  22.0     FW

In [37]:
top_most_minutes_played = df[['Player', 'Min', 'Pos']]
top_most_minutes_played = top_most_minutes_played.sort_values(by='Min', ascending=False).head(10)

display(top_most_minutes_played)

                Player     Min Pos
287         Bernd Leno  3420.0  GK
312    Jordan Pickford  3420.0  GK
55      William Saliba  3420.0  DF
398         Max Kilman  3420.0  DF
173        André Onana  3420.0  GK
144  Guglielmo Vicario  3420.0  GK
313    James Tarkowski  3419.0  DF
261   Joachim Andersen  3415.0  DF
486    Thomas Kaminski  3405.0  GK
368     Illia Zabarnyi  3330.0  DF

In [38]:
top_penalty_scorers = df[['Player', 'PK', 'Pos']]
top_penalty_scorers = top_penalty_scorers.sort_values(by='PK', ascending=False).head(10)

display(top_penalty_scorers)

              Player   PK    Pos
83       Cole Palmer  9.0  FW,MF
6     Erling Haaland  7.0     FW
59       Bukayo Saka  6.0     FW
117   Alexander Isak  5.0     FW
28     Mohamed Salah  5.0     FW
488   Carlton Morris  5.0  FW,MF
175  Bruno Fernandes  4.0  MF,FW
345       João Pedro  4.0  FW,MF
207     Douglas Luiz  4.0     MF
433     Bryan Mbeumo  3.0     FW

In [39]:
top_red_card_players = df[['Player','CrdR', 'Pos']]
top_red_card_players = top_red_card_players.sort_values(by='CrdR', ascending=False).head(10)

display(top_red_card_players)

              Player  CrdR    Pos
555  Oliver McBurnie   2.0     FW
99       Reece James   2.0     DF
153    Yves Bissouma   2.0     MF
399    Nélson Semedo   1.0  DF,MF
523      Lyle Foster   1.0  FW,MF
464       Willy Boly   1.0     DF
255  Kalvin Phillips   1.0     MF
526  Lorenz Assignon   1.0     DF
342    Billy Gilmour   1.0     MF
0              Rodri   1.0     MF

In [40]:
top_yellow_card_players = df[['Player', 'CrdY', 'Pos']]
top_yellow_card_players = top_yellow_card_players.sort_values(by='CrdY', ascending=False).head(10)

display(top_yellow_card_players)

              Player  CrdY    Pos
290    João Palhinha  13.0     MF
373    Marcos Senesi  13.0     DF
114   Anthony Gordon  12.0     FW
207     Douglas Luiz  12.0     MF
401     Mario Lemina  12.0     MF
402       João Gomes  11.0     MF
81    Moisés Caicedo  11.0     MF
243    Edson Álvarez  11.0     MF
313  James Tarkowski  11.0     DF
62       Kai Havertz  11.0  MF,FW

In [41]:
top_expected_goal_participations = df[['Player', 'xG+xAG_90', 'Pos']]
top_expected_goal_participations = top_expected_goal_participations.sort_values(by='xG+xAG_90', ascending=False).head(10)

display(top_expected_goal_participations)

                Player  xG+xAG_90    Pos
202  Donny van de Beek       5.54     DF
107  Deivid Washington       3.23  DF,FW
394      Kieffer Moore       1.44  FW,MF
334        Neal Maupay       1.22     FW
6       Erling Haaland       1.18     FW
28       Mohamed Salah       1.17     FW
421     Sasa Kalajdzic       1.09     FW
388          Enes Ünal       1.07  FW,MF
389       David Brooks       1.03  FW,MF
13     Kevin De Bruyne       1.03     MF

In [42]:
top_progressive_passes = df[['Player', 'PrgP', 'Pos']]
top_progressive_passes = top_progressive_passes.sort_values(by='PrgP', ascending=False).head(10)

display(top_progressive_passes)

                  Player   PrgP    Pos
0                  Rodri  376.0     MF
57       Martin Ødegaard  344.0     MF
338          Pascal Groß  302.0  MF,DF
175      Bruno Fernandes  297.0  MF,FW
112      Bruno Guimarães  283.0     MF
56           Declan Rice  278.0     MF
64   Oleksandr Zinchenko  229.0     DF
152       James Maddison  224.0     MF
86        Enzo Fernández  210.0     MF
27   Alexis Mac Allister  209.0     MF

In [43]:
top_progressive_carries = df[['Player', 'PrgC', 'Pos']]
top_progressive_carries = top_progressive_carries.sort_values(by='PrgC', ascending=False).head(10)

display(top_progressive_carries)

                 Player   PrgC    Pos
11          Jeremy Doku  218.0  FW,MF
176  Alejandro Garnacho  178.0     FW
59          Bukayo Saka  155.0     FW
148    Dejan Kulusevski  151.0  FW,MF
5        Bernardo Silva  140.0  MF,FW
114      Anthony Gordon  138.0     FW
26            Luis Díaz  137.0     FW
63   Gabriel Martinelli  127.0     FW
494    Chiedozie Ogbene  127.0  MF,DF
350        Kaoru Mitoma  121.0     FW